<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>
</table>

<div data-controller="infinite-scroll" data-action="scroll@window->infinite-scroll#scroll">
  <div data-target="infinite-scroll.entries">
    <% @posts.each do |post| %>
      <div class='post-div'>
        <div><%= post.name %></div>
        <div><%= post.title %></div>
        <div><%= post.content %></div>
        <div><%= link_to 'Show', post %></div>
        <div><%= link_to 'Edit', edit_post_path(post) %></div>
        <div><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>
  </div>

  <div data-target="infinite-scroll.pagination">
    <%== pagy_nav(@pagy) %>
  </div>
</div>

<br>

<%= link_to 'New Post', new_post_path %>
